@tailwind base;
@tailwind components;
@tailwind utilities;

/* ESTILOS PARA LOS FORMULARIOS */
.gradient-bg-gral {
    background: linear-gradient(
        to bottom,
        #070a60 0%,
        #070a60 25%,
        #f64994 35%,
        #fc78f4 55%,
        #c327e9 75%,
        #d038b3 100%
    );
}

/* ESTILOS PARA LOS FORMULARIOS */
.gradient-bg-form {
    background: linear-gradient(
        to bottom,
        #f64994 35%,
        #fc78f4 55%,
        #c327e9 75%,
        #d038b3 100%
    );
}

/* ESTILOS PARA LA SECTION 2 DE LA PÁGINA DE INICIO */
/* Estilos para las tarjetas */
.card {
    opacity: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 1s, transform 1s;
  }
  
  /* Estilos para las tarjetas visibles */
  .card.visible {
    opacity: 1;
    transform: translate(-50%, -50%);
    animation: fadeInFromCenter 1s forwards;
  }
  
  /* Animación de entrada desde el centro */
  @keyframes fadeInFromCenter {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  